{% extends 'blog/main.html' %}
{% block main_section %}
    <h3>Contacts page</h3>
{% endblock main_section %}

{% block aside_news_section %}
<h3><b>Новая коллекция уточек Numbskull, косплеящих игровых персонажей</b></h3>
                <img src="https://cdn.shazoo.ru/c700x330/407759_bCWNZcQagq_1.jpg" class="img-thumbnail mb-1">
                <p>Компания Numbskull представила вторую коллекцию игрушек TUBBZ, в которой уточки косплеят известных игровых персонажей. На этот раз очередь дошла до вселенных Sonic, DOOM, Resident Evil, The Last of Us и Street Fighter.</p>
                <a href="https://shazoo.ru/2020/02/10/90461/novaya-kollekciya-utochek-numbskull-kospleyashih-igrovyh-personazhej" target="_blank">
                    <button class="btn btn-warning">Посмотреть</button>
                </a>
{% endblock aside_news_section %}